.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    font-size: 20px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    color: #ffffff;
    background: rgba(64, 62, 62, 0.7);

    &::placeholder {
        color: #ffffff;
        opacity: 0.85;
    }
}

.formButton {
    font-family: "Gilroy";
    line-height: 24px;
    font-size: 20px;
    background-color: #24c403;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    transition: transform 0.3s, color 0.3s;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}