.title {
  text-align: center;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  font-family: "Gilroy";
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background: none;
  padding: 10px 0;
  min-width: 170px;
  background-color: green;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;

  &:last-child {
      margin: 0px;
  }
}