.preview {
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom,rgba(58 240 20 / 50%),rgb(36 105 108 / 23%)),url(../../assets/preview-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    line-height: 60px;
}

.subtitle {
    font-size: 46px;
}