.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.input {

  font-size: 14px;
  line-height: 32px;
  padding: 0 0 0 34px;
  width: 260px;
  border: 2px solid black;
  border-radius: 8px;
  background-image: url("../../assets/icons//search.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 17px;
  outline: none;
}