.formWrapper {
    display: flex;
    align-items: center;
    background: url(../../assets/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    flex-grow: 1;
}

.container {
    width: 400px;
    padding: 50px 20px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 30px rgb(0 0 0 / 52%);
    background-color: rgb(142 140 140 / 70%);
}

.contentTitle {
    margin-bottom: 25px;
}

.link {
    display: block;
    font-weight: 700;
    color: red;
    margin-top: 8px;
}