.formWrapper {
    display: flex;
    align-items: center;
    background: url(../../assets/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    flex-grow: 1;
}